@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --nav-height : 2.2rem;
  --text-height: 20rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.background-image {
  background-image: url("img/background.jpg");
  background-position: 0 -47em;
  background-repeat: no-repeat;
  opacity: 0.7;
  width: 100%;
  height: 80vh;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  position: fixed;
  z-index: 1;
}

.bd-left {
  border-left: 1px solid #636058;
}

.nav {
  order: 3;
  display: flex;
  width: 70%;
  height: var(--nav-height);
  justify-content: space-between;
  background: rgb(113, 113, 113);
  background: linear-gradient(106deg, rgba(113, 113, 113, 1) 0%, rgba(132, 132, 132, 1) 98%);
  box-shadow: 1px 0 0 1px rgba(113, 113, 113, 1);
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: 600;
}

.nav-item {
  flex: 1; 
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-search {
  flex: 2;
}

.nav-search label {
  display: block;
  width: 80%; 
}

.nav-search input {
  border: none;
  padding-left: 33px;
  width: 100%;
  border-radius: 10px;
  background: rgb(113, 113, 113);
  background: linear-gradient(106deg, rgba(113, 113, 113, 1) 0%, rgba(132, 132, 132, 1) 98%);
  background-image: url("img/icons/search.svg");
  background-repeat: no-repeat;
  background-position: 10px 50%;
  background-size: 1em auto;
  box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.75);
}

.nav-search input:focus {
  color: black;
  background-image: url("img/icons/search-focus.svg");
  background-color: #fcfcf7;
}

.nav-search:focus-within {
  flex: 3;
}

a {
  text-decoration: none;
}

nav a {
  color: white;
}

footer a {
 color: rgb(10, 187, 178);
}

.nav a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 17px;
  height: auto;
}

.nav-container > .shop-icon, div.logo, label[for="toggle"], #toggle {
  display: none;
}

label[for="toggle"] {
  order: -1;
  cursor: pointer;
}

.shop-icon {
  order: 1;
}

.mg-nav {
  margin: 10px 15px;
}

span {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.text-container {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  margin-top: 10rem;
  position: absolute;
}

.text-content {
  display: flex;
  flex-basis: 80%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: var(--text-height);
}

.text-bg {
  font-size: 4vw;
}

.text-nm {
  font-size: 2vw;
}

.text-sm {
  font-size: 1.5vw;
}

.image-container {
  display: flex;
  justify-content: center;
  background-color: white;
}

.image-grid {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-container {
  margin: 5px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 300px;
  height: 180px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: 2px 0px 14px 0px rgba(217,204,217,1);
}

.img-1 {
  background-image: url("img/1.jpg");
}

.img-2 {
  background-image: url("img/2.jpg");
}

.img-3 {
  background-image: url("img/3.jpg");
}

.img-4 {
  background-image: url("img/4.jpg");
}

.footer-container {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  background-color: white;
}

.footer-content {
  flex-basis: 85%;
  /*flex-wrap: wrap;*/
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 0.7rem;
  color: #6e6e6e;
  line-height: 1.5rem;
}

.footer-nav-item {
  padding-right: 5px;
}

.footer-nav-item a {
  border-right: 1px solid gray;
  padding-right: 5px;
}

.footer-nav .footer-flag {
  border: none;
}

.footer-nav-item img {
  width: 0.7rem;
  height: auto;
}

.footer-nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

@media all and (max-width: 1000px) {
  .nav-container {
    padding-top: 0;
  }

  .nav {
    width: 100%;
    border-radius: 0;
  }

  .text-bg {
    font-size: 6vw;
  }

  .text-nm {
    font-size: 2.5vw;
  }

  .text-sm {
    font-size: 2vw;
  }
}

@media all and (max-width: 700px) {
  .nav {
    display: none;
    height: auto;
  }

  .nav li.nav-item {
    font-size: 1.2rem;
    font-weight: 300;
    border-bottom: 1px solid #636058;
  }

  .nav-text a {
    justify-content: flex-start;
    height: 2.5em;
    padding-left: 20px;
  }

  .nav-search {
    order: -1;
    padding: .3em 0;
  }

  .nav-search label {
    display: flex;
    flex-grow: 1;
    padding: 0 0.3em;
  }

  .nav-search input {
    border-radius: 5px;
    background-size: 1.3em auto;
    height: 2.5em;
  }

  .nav-container {
    justify-content: space-between;
    align-items: center;
    background: rgb(113, 113, 113);
    background: linear-gradient(106deg, rgba(113, 113, 113, 1) 0%, rgba(132, 132, 132, 1) 98%);
    flex-wrap: wrap;
    color: white;
  }

  .nav-1 {
    display: none;
  }

  .nav-container > .shop-icon, div.logo, label[for="toggle"] {
    display: flex;
  }

  #toggle:checked + .nav {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
  }

  .nav-search label {
    width: 90%;
  }

  .text-content {
    flex-basis: 95%;
  }

  .text-bg {
    font-size: 8vw;
  }

  .text-nm {
    font-size: 4.5vw;
  }

  .text-sm {
    font-size: 3vw;
  }

  .footer-content {
    flex-basis: 95%;
    font-size: 1rem;
    flex-wrap: wrap;
  }

  .footer-flag {
    display: none;
  }

  .footer-right {
    order: -1;
    flex: 1 1 100%;
  }

  .footer-nav {
    flex-direction: column;
  }

  .footer-nav-item a {
    border-right: none;
  }

  .footer-nav-item {
    border-bottom: 1px solid gray;
  }

  .footer-content .footer-left {
    font-size: 0.7rem;
    padding-top: 1.5rem;
  }
}