@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --nav-height : 2.2rem;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.bd-left {
  border-left: 1px solid #636058;
}

.nav {
  display: flex;
  width: 70%;
  height: var(--nav-height);
  justify-content: space-between;
  background: rgb(113, 113, 113);
  background: linear-gradient(106deg, rgba(113, 113, 113, 1) 0%, rgba(132, 132, 132, 1) 98%);
  box-shadow: 1px 0 0 1px rgba(113, 113, 113, 1);
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: 600;
}

.nav-item {
  flex: 1; 
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-search {
  flex: 2;
}

.nav-search label {
  display: block;
  width: 80%; 
}

.nav-search input {
  border: none;
  padding-left: 30px;
  width: 100%;
  border-radius: 10px;
  background: rgb(113, 113, 113);
  background: linear-gradient(106deg, rgba(113, 113, 113, 1) 0%, rgba(132, 132, 132, 1) 98%);
  background-image: url("img/icons/search.svg");
  background-repeat: no-repeat;
  background-position: 7% 50%;
  background-size: 12px auto;
  box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.75);
}

.nav-search input:focus {
  color: black;
  background-image: url("img/icons/search-focus.svg");
  background-color: #fcfcf7;
}

.nav-search:focus-within {
  flex: 3;
}

a {
  color: white;
  text-decoration: none;
}

.nav a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 17px;
  height: auto;
}


@media all and (max-width: 1000px) {
  .nav-container {
    padding-top: 0;
  }

  .nav {
    width: 100%;
    border-radius: 0;
  }
}

@media all and (max-width: 700px) {
  
}