@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #fcfcf7;
  font-family: 'Quicksand', sans-serif;
  max-width: 1500px;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

nav {
  position: relative;
  width: 100%;
  margin-top: 0;
}

span {
  display: block;
}

.nav-container {
  width: 100%;
  height: 2.2rem;
  margin-top: 5rem;
  position: absolute;
  font-size: 0.8rem;
}

.nav-container,
.nav-container .header-nav,
.footer-container ul,
.flex-center,
.footer-container {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.nav-container .header-nav {
  border-radius: 6px 0 0 6px;
  font-weight: 700;
  width: 60%;
  height: 2.2rem;
  background: rgb(113, 113, 113);
  background: linear-gradient(106deg, rgba(113, 113, 113, 1) 0%, rgba(132, 132, 132, 1) 98%);
  box-shadow: -1px 0 0 1px rgba(113, 113, 113, 1);
}

.search-container {
  height: 2.2rem;
  width: 11%;
  position: relative;
  border-left: 1px solid #636058;
  border-radius: 0 6px 6px 0;
  background: rgb(113, 113, 113);
  background: linear-gradient(106deg, rgba(113, 113, 113, 1) 0%, rgba(132, 132, 132, 1) 98%);
  box-shadow: 1px 0 0 1px rgba(113, 113, 113, 1);
}

.search-container input {
  border: none;
  padding-left: 27px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.75);
  background: no-repeat;
  background-position: 7% 50%;
  background-size: 12px auto;
  background-image: url("img/icons/search.svg");
}

.search-container label {
  display: block;
  position: relative;
  width: 80%;
}

.search-container:focus-within {
  width: 15%;
}

.search-container input:focus {
  color: black;
  background-image: url("img/icons/search-focus.svg");
  background-color: #fcfcf7;
}

.nav-items {
  flex: 1;
  border-left: 1px solid #636058;
}

.nav-items-0 {
  flex: 1;
}

a {
  cursor: pointer;
  text-decoration: none;
}

nav a {
  color: #fcfcf7;
}

main a {
  width: 100%;
  height: 100%;
  display: block;
}

footer a {
  color: #08c;
}

.logo a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 6px 0 0 6px;
}

.nav-items a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 2.2rem;
  vertical-align: middle;
}

nav a:hover {
  background: rgb(28, 26, 26);
  background: linear-gradient(101deg, rgba(28, 26, 26, 1) 0%, rgba(84, 84, 84, 1) 97%);
}

.logo img {
  width: 17px;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.background-img-text {
  width: 50em;
  height: 15em;
  text-align: center;
}

.text-bg {
  font-size: 4rem;
  padding-bottom: 2rem;
}

.text-nm {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.text-sm {
  font-size: 1.5rem;
}

.text-sm img {
  width: 30px;
  height: auto;
  margin-left: 5px;
}

.image-showcase {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1px;
  margin-top: 2px;
}

.image-showcase .img-container {
  max-width: 100%;
  height: 200px;
}

.welcome {
  width: 100%;
  height: 83vh;
  background-image: url("img/background.jpg");
  background-position: 0 99%;
}

.img-1 {
  background-image: url("img/1.jpg");
}

.img-2 {
  background-image: url("img/2.jpg");
}

.img-3 {
  background-image: url("img/3.jpg");
}

.img-4 {
  background-image: url("img/4.jpg");
}

.welcome,
.img-1,
.img-2,
.img-3,
.img-4 {
  background-repeat: round space;
}

.footer-container {
  width: 80%;
  margin: 0 auto;
  padding-top: 2rem;
  height: 8rem;
  overflow: hidden;
  font-size: 0.63rem;
  font-weight: 600;
  justify-content: space-between;
  color: #6e6e6e;
  line-height: 2rem;
}

.footer-container span {
  display: inline;
}

.footer-nav-item,
.footer-nav-item-0 {
  padding: 0 6px;
  height: 0.6rem;
  margin-top: 10px;
}

.footer-nav-item {
  border-left: 1px solid gray;
}

.footer-nav-item img {
  width: 0.9rem;
  height: auto;
}
