* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-container {
  width: 100%;
  height: 2rem;
  margin-top: 5rem;
  position: absolute;
}

span {
  display: block;
}

.nav-container ul,
.footer-container ul,
.logo,
.flex-center {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.nav-container ul {
  margin: 0 auto;
  border-radius: 10px;
  width: 70%;
  background-color: green;
  height: 2rem;
  color: #fcfcf7;
}

span.search {
  width: 70%;
  height: 70%;
  border: 1px solid white;
  border-radius: 20px;
  position: relative;
}

span.search img {
  position: absolute;
  left: 5px;
  width: 12px;
  height: auto;
  top: 4px;
}

.logo img {
  width: 18px;
  height: auto;
}

.nav-items {
  flex: 1;
  border-left: 1px solid black;
}


.logo {
  border-radius: 10px 0 0 10px;
}

.nav-items-search {
  flex: 2;
  background-color: red;
  border-left: 1px solid black;
  width: 100%;
  height: auto;
  border-radius: 0 10px 10px 0;
}

.welcome {
  width: 100%;
  height: 80vh;
  background-color: yellow;
}

.background-img-text {
  width: 50%;
  height: 50%;
  background-color: white;
  text-align: center;
}

.image-showcase {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1px;
  margin-top: 2px;
}

.image-showcase .img-container {
  max-width: 100%;
  height: 35vh;
  background-color: black;
}

.footer-container {
  width: 100%;
  background-color: red;
  height: 8rem;
  overflow: hidden;
}
